@model IEnumerable<Joselito_Technocell.Models.User>
@{
    ViewBag.Title = "Roles y usuarios";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">@ViewBag.Title</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    @Html.ActionLink("Nuevo usuario", "Create", null, new { @class = "btn btn-sm btn-neutral" })
                    @*@Html.ActionLink("Imprimir Listado", "print", null, new { @class = "btn btn-sm btn-info" })*@
                    <a href="~/USers/print" target="_blank" class="btn btn-sm btn-info">Imprimir Listado</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="card">
        <center>
            <h3 class="pt-5">Usuarios</h3>
        </center>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-flush" id="datatable-basic">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.ActionLink("Administrar roles", "Roles", new { usuarioID = item.Id }, new { @class = "btn btn-sm btn-primary" })
                                </td>

                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>