@model Joselito_Technocell.Models.RegistroAlmacen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RegistroAlmacen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anaquel.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anaquel.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductosId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductosId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoUnidadMedida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoUnidadMedida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegistroAlmacenId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
