@model IEnumerable<Joselito_Technocell.Models.OrdenDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrdenDetailsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrdenDetailsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrdenDetailsId })
        </td>
    </tr>
}

</table>
