@model IEnumerable<Joselito_Technocell.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Clientes</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    @Html.ActionLink("Nuevo cliente", "Create", null, new { @class = "btn btn-sm btn-neutral" })
                    @*@Html.ActionLink("Imprimir Listado", "print", null, new { @class = "btn btn-sm btn-info" })*@
                    <a href="~/clientes/print" target="_blank" class="btn btn-sm btn-info">Imprimir Listado</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt--6">
    <div class="card">
        <center>
            <h3 class="pt-5">Listado de clientes</h3>
        </center>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-flush" id="datatable-basic">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Direccion)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.FullName
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    <a href="~/clientes/edit/@item.IdCliente" class="btn btn-info btn-sm">Editar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>