@model Joselito_Technocell.Models.Caja

@{

}


@using (Html.BeginForm("CerrarCaja", "Caja", FormMethod.Post))
{
    @Html.AntiForgeryToken()


<div class="container-fluid mt--6">
    <div class="row justify-content-center  align-items-center pt-200">
        <div class="col-md-4">
            <div class="card bg-gradient-primary">
                <!-- Card body -->
                <div class="card-body">
                    <div class="row justify-content-center  align-items-center">
                        <h3 class="text-white">Cerrar  caja</h3>
                    </div>
                    <div class="mt-4">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.CajaId)
                        @Html.HiddenFor(model => model.Apertura)
                        @Html.HiddenFor(model => model.MontoApertura)
                        @Html.HiddenFor(model => model.OperadorId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.MontoCierre, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.MontoCierre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MontoCierre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <input type="submit" value="Cerrar" class="btn btn-default btn-block" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
