@model Joselito_Technocell.Models.Factura
@using System.Linq;
@{
    ViewBag.Title = "Caja";

    Joselito_Technocell.Models.Joselito_TechnocellDbContext db = new Joselito_Technocell.Models.Joselito_TechnocellDbContext();

    var cxc = db.CxC.Where(a => a.Saldado == false).ToList();

    var caja = ViewBag.caja as Joselito_Technocell.Models.Caja;
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<style>
    .selection ::after span {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .select2-selection__rendered ::after span {
        padding-top: -10px !important;
    }

    .select2-selection--single {
        height: 49px !important;
    }
</style>

<div class="nav-wrapper">
    <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true">Caja</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">CxC</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false">Cerrar caja</a>
        </li>
    </ul>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <center>
                            <h3 class="pt-5">Informacion de la factura</h3>
                        </center>
                        <div class="card-body">
                            @using (Html.BeginForm("Index", "Caja", "POST"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IdCliente, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.DropDownList("IdCliente", null, "-- Seleccione un cliente --", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IdMetodoPago, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.DropDownList("IdMetodoPago", null, "-- Seleccione un metodo de pago --", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.IdMetodoPago, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Efectivo, htmlAttributes: new { @class = "control-label col-md-12" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Efectivo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Efectivo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <center><h3><b>Total | @Model.Total.ToString("C")</b></h3></center>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Facturar</button>
                                    <a href="~/caja/Cancelar" class="btn btn-danger btn-block">Cancelar</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">

                            <button type="button" class="btn btn-sm btn-neutral" onclick="abrirModal()">Agregar producto</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-flush" id="">
                                    <thead>
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Producto
                                            </th>
                                            <th>
                                                Precio
                                            </th>
                                            <th>
                                                Cantidad
                                            </th>
                                            <th>
                                                Subtotal
                                            </th>
                                            <th>
                                                Acciones
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model.DetalleFacturas)
                                        {
                                            if (item.Product == null)
                                            {
                                                item.Product = db.Products.Find(item.ProductId);
                                            }

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Product.ProductId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Product.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Precio)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Cantidad)
                                                </td>
                                                <td>
                                                    @item.Total.ToString("C")
                                                </td>
                                                <td>
                                                    <a href="~/caja/deleteProdut/@item.ProductId" class="btn btn-danger btn-sm">Eliminar</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="justify-content-center align-items-center py-4">
                                <center><h3><b>Total | @Model.Total.ToString("C")</b></h3></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
        @Html.Partial("_CxC", cxc)
    </div>
    <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
        @Html.Partial("_cerrarCaja", caja)
    </div>
</div>

<div class="modal fade" id="miModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" style="width:80%" role="document">
        <form action="~/caja/addProduct" method="post">
            <div class="modal-content">
                <div class="modal-body">
                    <center><h3 class="pt-2 pb-3">Agregar producto</h3></center>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Producto</label>
                                <select name="idProducto" style="height:42px;" id="idProducto" class="form-control js-example-basic-single">
                                    <option></option>
                                    @foreach (var item in db.Products)
                                    {
                                        <option value="@item.ProductId">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Cantidad</label>
                                <input name="cantidad" id="cantidad" type="number" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="fncCloseModal()">Cancelar</button>
                    <button id="btnGuardar" type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modal-cxc">
    <div class="modal-dialog modal-dialog-centered" style="width:80%" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="Modal-body-cxc">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    function abrirModal() {
        $('#miModal').modal('show');
    }
    function fncCloseModal() {
        $('#miModal').modal('hide');
    }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        function cxc(id) {
            $("#Modal-body-cxc").load('/caja/PagarCXC/' + id);
        }

        $('.js-example-basic-single').select2({ placeholder: '-- Seleccione un producto --'});
    </script>

    <script>
        function pagos(id) {
            $("#Modal-body-cxc").load('/cxc/PagosCxC/' + id);
        }
    </script>

    @if (Session["Imprimir"] != null)
    {
        <script>
            var getUrl = window.location;
            var baseUrl = getUrl.protocol + "//" + getUrl.host;
            window.open(baseUrl + '/caja/Factura/' + '@Session["Imprimir"]', '_blank');
        </script>

        Session.Remove("Imprimir");
    }
}