@model Joselito_Technocell.Models.Suplidor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Suplidor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SuplidorNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuplidorNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuplidorDireccion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuplidorDireccion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paginaweb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paginaweb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SuplidorId }) |
    @Html.ActionLink("Regresar", "Index")
</p>
