@model IEnumerable<Joselito_Technocell.Models.Suplidor>

@{
    ViewBag.Title = "Suplidores";
}

<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Suplidores</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    @Html.ActionLink("Nuevo suplidor", "Create", null, new { @class = "btn btn-sm btn-neutral" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="card">
        <center>
            <h3 class="pt-5">Listado de suplidores</h3>
        </center>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-flush" id="datatable-basic">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.SuplidorNombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SuplidorDireccion1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Paginaweb)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Observacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Direccion2)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SuplidorNombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SuplidorDireccion1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Paginaweb)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Observacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion2)
                                </td>
                                <td>
                                    <a href="~/suplidores/edit/@item.SuplidorId" class="btn btn-info btn-sm">Editar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>